{{#each eventsObj.eventResults}}
<p>{{this.event_title}}</p>
{{/each}}

{{#each articlesObj.articleResults}}
<p>{{this.article_title}}</p>
{{/each}}

{{#each linkssObj.linkResults}}
<p>{{this.link_title}}</p>
{{/each}}