  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" id="logout">Logout</a>
        </div>
      </div>
    </nav>

    <div class="row">
      <div id="sidebar" class="col-md-2">
        <p id="menu-heading" class="">Menu</p>
        <!-- div for listings -->
        <div id="menu" class="medium-unstack">
          <button class="menu-btn" href="/members">Dashboard</button>
          <button class="menu-btn" href="/admin_cal">Calendar</button>
          <button class="menu-btn" href="/admin_articles">Articles</button>
          <button class="menu-btn" href="/admin_links">Links</button>
          <button class="menu-btn" href="/signup">Add User</button>
          <button class="menu-btn" href="/messageboard">Messageboard</button>
          <button class="menu-btn" href="/feedback">User Feedback</button>
        </div>
      </div>
      <div class="col-md-5 main-content justify-content-md-right">
        <div class="card-body offset-4 col-md-12" >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rem illo earum veritatis sapiente quas itaque assumenda quisquam sit! Cumque a rem beatae, adipisci quaerat repellat voluptatem quibusdam aut. Nam dignissimos accusamus adipisci qui optio ratione mollitia quod, reprehenderit quisquam.
        </div>

      </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>