<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" id="logout">Logout</a>
    </div>
  </div>
</nav>

<div class="row">
  <div id="sidebar" class="col-md-2">
    <p id="menu-heading" class="">Menu</p>
    <!-- div for listings -->
    <div id="menu" class="medium-unstack">
      <button class="menu-btn"><a class="nav-link" href="/members" style="color:black;">Dashboard</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_events" style="color:black;">Events</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_articles" style="color:black;">Articles</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_links" style="color:black;">Links</a></button>
      <button class="menu-btn"><a class="nav-link" href="/signup" style="color:black;">Add User</a></button>
      <button class="menu-btn"><a class="nav-link" href="/messageboard" style="color:black;">Messageboard (Coming
          Soon...)</a></button>
      <button class="menu-btn"><a class="nav-link" href="/feedback" style="color:black;">User Feedback</a></button>
    </div>
  </div>
  <div class="col-md-5 main-content justify-content-md-right">
    <h3>Add Event</h3>

    <form id="event-form">
      <div class="form-group">
        <label for="event-title">Title</label>
        <input type="title" class="form-control" id="event-title">
      </div>
      <div class="form-group">
        <label for="event-start">Start Date</label>
        <input type="date" class="form-control" id="event-start">
      </div>
      <!--<div class="form-group">
        <label for="event-text">Start Time</label>
        <input type="time" class="form-control" id="event-text">
      </div>-->
      <div class="form-group">
        <label for="event-end">End Date</label>
        <input type="date" class="form-control" id="event-end">
      </div>
      <!--<div class="form-group">
        <label for="event-text">End Time</label>
        <input type="time" class="form-control" id="event-text">
      </div>-->
      <div class="form-group">
        <label for="event-org">Organization</label>
        <input type="text" class="form-control" id="event-org">
      </div>
      <div class="form-group">
        <label for="event-loc">Location</label>
        <input type="text" class="form-control" id="event-loc">
      </div>
      <div class="form-group">
        <label for="event-type">Event Type</label>
        <select class="form-control" id="event-type" name="event-type">
          <option value="protests">Protests</option>
          <option value="government-events">Local Government Events</option>
          <option value="dates">Dates</option>
        </select>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary" id="event-submit">

    </form>

    <h3>Edit Event</h3>

    <div class="table-responsive">
      <table id="events-table" class="table table-bordered table-sm" cellspacing="0" width="100%">
        <thead id="events-head">
          <tr>
            <th>Title</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Organizers</th>
            <th>location</th>
            <th>Type</th>
            <th>Remove</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>

          {{#each events}}
          {{events}}
          {{> eventsPartial}}

          {{/each}}

        </tbody>
      </table>
    </div>

  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
</body>