<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

      </div>
    </div>
  </nav>

  <div class="row">
    <div id="sidebar" class="col-md-2">
      <p id="menu-heading" class="">Menu</p>
      <!-- div for listings -->
      <div id="menu" class="medium-unstack">
        <button class="menu-btn"><a class="nav-link" href="/members" style="color:black;">Dashboard</a></button>
        <button class="menu-btn"><a class="nav-link" href="/admin_events" style="color:black;">Events</a></button>
        <button class="menu-btn"><a class="nav-link" href="/admin_articles" style="color:black;">Articles</a></button>
        <button class="menu-btn"><a class="nav-link" href="/admin_links" style="color:black;">Links</a></button>
        <button class="menu-btn"><a class="nav-link" href="/signup" style="color:black;">Add User</a></button>
        <button class="menu-btn"><a class="nav-link" href="#" style="color:black;">Messageboard (Coming
            Soon...)</a></button>
        <button class="menu-btn"><a class="nav-link" href="/feedback" style="color:black;">User Feedback</a></button>
                  <button class="menu-btn" ><a class="nav-link" href="/logout" style="color:black;">Logout</a></button>
      </div>
    </div>
    <div class="col-md-10 main-content justify-content-md-right">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2>Add User</h2>
            <form class="signup">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email-input" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
              </div>
              <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span class="msg"></span>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br />

          </div>
        </div>
      </div>

    </div>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
</body>



{{!-- <div class="container">
  <h1 class="page-headers">SignUp</h1>
  <div class="formholder">
    <form id="newUsr">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputEmail4">First Name</label>
          <input type="fname" class="form-control" id="inputEmail4" placeholder="First Name">
        </div>

        <div class="form-group col-md-6">
          <label class="field-headers" for="inputEmail4">Last Name</label>
          <input type="lname" class="form-control" id="inputEmail4" placeholder="Last Name">
        </div>

        <div class="form-group col-md-6">
          <label class="field-headers" for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>

      <div style="display: none" id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">

          <label class="field-headers" for="inputName">Security Question 1</label>
          <select id="inputState" class="form-control">
            <option>What is your Favorite Movie?</option>
            <option>What is your Mother's Maiden Name?</option>
            <option>What is your childhood Name?</option>
            <option>Which Collage did you Attend?</option>
            <option>What is your Favorite Dish?</option>
          </select>
          <br>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">


        </div>
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputPassword4">Security Answers 2</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>



        <div class="form-group col-md-6">

          <label class="field-headers" for="inputState">Security Question 2</label>
          <select id="inputState" class="form-control">
            <option>What is your Favorite Movie?</option>
            <option>What is your Mother's Maiden Name?</option>
            <option>What is your childhood Name?</option>
            <option>Which Collage did you Attend?</option>
            <option>What is your Favorite Dish?</option>

          <label class="field-headers" for="inputCity">Organization</label>
          <input type="text" class="form-control" id="inputOrganization">

        </div>
        <div class="form-group col-md-6">
          <label for="inputState">Organization location</label>
          <select id="inputState" class="form-control">
            <option selected>Choose one of them</option>
            <option>Alabama AL</option>
            <option>Alaska AK</option>
            <option>American AS</option>
            <option>Arizona AZ</option>
            <option>Arkansas AR</option>
            <option>California CA</option>
            <option>Colorado CO</option>
            <option>Connecticut CT</option>
            <option>Delaware DE</option>
            <option>Dist. of Columbia DC</option>
            <option>Florida FL</option>
            <option>Georgia GA</option>
            <option>Guam GU</option>
            <option>Idaho ID</option>
            <option>Illinois IL</option>
            <option>Indiana IN</option>
            <option>Iowa IA</option>
            <option>Kansas KS</option>
            <option>Kentucky KY</option>
            <option>Louisiana LA</option>
            <option>Maine ME</option>
            <option>Maryland MD</option>
            <option>Marshall MH</option>
            <option>Massachusetts MA</option>
            <option>Michigan MI</option>
            <option>Micronesia FM</option>
            <option>Minnesota MN</option>
            <option>Mississippi MS</option>
            <option>Missouri MO</option>
            <option>ontana MT</option>
            <option>Nebraska NE </option>
            <option>Nevada NV</option>
            <option>New Hampshire NH</option>
            <option>New Jersey NJ</option>
            <option>New Mexico NM</option>
            <option>New York NY</option>
            <option>North Carolina NC</option>
            <option>North Dakota ND</option>
            <option>Northern Marianas MP</option>
            <option>Ohio Ohio OH</option>
            <option>Oklahoma OK</option>
            <option>Oregon OR</option>
            <option>Palau</option>
            <option>Pennsylvania PA</option>
            <option>Puerto Rico PR</option>
            <option>Rhode Island RI</option>
            <option>South Carolina SC</option>
            <option>South Dakota SD</option>
            <option>Tennessee TN</option>
            <option>Utah Utah UT</option>
            <option>Vermont VT</option>
            <option>Virginia VA</option>
            <option>Virgin Islands VI</option>
            <option>Washington WA</option>
            <option>West Virginia WV</option>
            <option>Wisconsin WI</option>
            <option>Wyoming WY</option>

          </select>


          </select>
          <br>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Agree to terms and conditions
            </label>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-info">Sign up!</button>

    </form>

  </div>

  </form>
</div>
</div> --}}