<div class="container">
  <h1 class="page-headers">SignUp</h1>
  <div class="formholder">
    <form id="newUsr">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputEmail4">First Name</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">
        </div>

        <div class="form-group col-md-6">
          <label class="field-headers" for="inputEmail4">Last Name</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Last Name">
        </div>

        <div class="form-group col-md-6">
          <label class="field-headers" for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>

      <div style="display: none" id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputName">Security Question 1</label>
          <select id="inputState" class="form-control">
            <option>What is your Favorite Movie?</option>
            <option>What is your Mother's Maiden Name?</option>
            <option>What is your childhood Name?</option>
            <option>Which Collage did you Attend?</option>
            <option>What is your Favorite Dish?</option>
          </select>
          <br>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">

        </div>

        <div class="form-group col-md-6">
          <label class="field-headers" for="inputState">Security Question 2</label>
          <select id="inputState" class="form-control">
            <option>What is your Favorite Movie?</option>
            <option>What is your Mother's Maiden Name?</option>
            <option>What is your childhood Name?</option>
            <option>Which Collage did you Attend?</option>
            <option>What is your Favorite Dish?</option>
          </select>
          <br>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Agree to terms and conditions
            </label>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-info">Sign up!</button>

    </form>
  </div>
</div>