

<div class="container">
  <h1 class="page-headers">SignUp</h1>
  <div class="formholder">
    <form id="newUsr">
      <div class="form-row">
          <div class="form-group col-md-6">
          <label class="field-headers" for="inputEmail4">First Name</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">
        </div>

        <div class="form-group col-md-6">
          <label class="field-headers" for="inputEmail4">Last Name</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Last Name">
        </div>

        <div class="form-group col-md-6">
          <label class="field-headers" for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>

      <div style="display: none" id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputName">Security Question 1</label>
          <input type="text" class="form-control" id="input">
        </div>
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputPhone">Security Question 2</label>
          <input type="text" class="form-control" id="input">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="field-headers" for="inputCity">Organization</label>
          <input type="text" class="form-control" id="inputOrganization">
        </div>
        <div class="form-group col-md-4">
          <label class="field-headers" for="inputState">Organization Location</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>

          </select>
        </div>
      </div>
      
      <button type="submit" class="btn btn-info">Sign up!</button>
    </form>
  </div>
</div>

